@{
    ViewData["Title"] = "Customer Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Customer Home</h1>
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Index", "Bookings", new { area = "Customer"})" class="card text-center" style="width: 30rem;">
                    <img class="card-img" src="~/images/BookClass.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex">
                        <h1 class=" text-light align-self-center mx-auto">Book Class</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Index", "ViewClasses", new { area = "Customer"})" class="card text-center" style="width: 30rem;">
                    <img class="card-img" src="~/images/ViewClasses.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex">
                        <h1 class=" text-light align-self-center mx-auto">View Classes</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Index", "Booking", new { area = "Customer"})" class="card text-center" style="width: 30rem;">
                    <img class="card-img" src="~/images/ManageBooking.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex">
                        <h1 class=" text-light align-self-center mx-auto">View & Manage Bookings</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
 </div>
