@{
    ViewData["Title"] = "Admin Home Page";
}
<div class="flex-grow-1">
<div class="text-center">
    <h1 class="display-4">Welcome to Admin Home</h1>  
</div>
<section>
<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <img src="/images/Membership Sales.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-6" style="width: 25rem;">
      <div class="card">
        <img src="/images/ClassStatistics.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card mt-3" style="width: 25rem;">
        <img src="/images/PopulationStatistics.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>
</section>
</div>