@{
    ViewData["Title"] = "Home Page";
}
<img src="https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2671&q=80" id="background-image">

<div class=" container d-flex justify-content-center align-items-center h-100">
    <img src="./images/FlexLogo.png" style="z-index:auto;"  />
</div>



