@{
    ViewData["Title"] = "Home Page";
}
<img src="https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2150&q=80" id="background-image">

<div class=" container d-flex justify-content-center align-items-center h-100">
    <img src="./images/Flex_Appeal_Fitness_Logo.png"  />
    </div>

