@model ITS_System.Models.Booking


@{
    ViewData["Title"] = "View Bookings";
}

@*<div class="d-flex flex-wrap justify-content-between">
    @foreach (var item in )
    {
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.TimeStamp)</h5>
                <p class="card-text">
                    <strong>Name:</strong> @Html.DisplayFor(modelItem => item.ClassId) <br />
                    <strong>Status:</strong> @Html.DisplayFor(modelItem => item.Status)
                </p>
            </div>
        </div>
        }
</div>*@
 